In [2]:
from pathlib import Path

In [3]:
photos_dir = Path('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox')

In [6]:
photo_list = list(photos_dir.glob('**/*.JPG'))
len(photo_list)

3050

In [7]:
photo_list[-5:]

[PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1318.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1317.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1316.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1319.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1320.JPG')]

In [8]:
import pandas as pd

In [11]:
dropbox_list = []
for photo in photo_list:
    dropbox_list.append({'folder':photo.parent.name,
                         'file_name':photo.name})
dropbox_df = pd.DataFrame(dropbox_list)
dropbox_df.head()

    folder          file_name
0  Coolpix  DSCN0058-HERM.JPG
1  Coolpix  DSCN0054-HERM.JPG
2  Coolpix  DSCN0051-HERM.JPG
3  Coolpix  DSCN0059-HERM.JPG
4  Coolpix  DSCN0060-HERM.JPG

In [12]:
dropbox_df['folder'] = dropbox_df['folder'].replace({'Coolpix':'2018 July-August',
                                           'DSLR':'2018 July-August'})
dropbox_df.head()

             folder          file_name
0  2018 July-August  DSCN0058-HERM.JPG
1  2018 July-August  DSCN0054-HERM.JPG
2  2018 July-August  DSCN0051-HERM.JPG
3  2018 July-August  DSCN0059-HERM.JPG
4  2018 July-August  DSCN0060-HERM.JPG

In [13]:
dropbox_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3050 entries, 0 to 3049
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   folder     3050 non-null   object
 1   file_name  3050 non-null   object
dtypes: object(2)
memory usage: 47.8+ KB

In [14]:
dropbox_df['file_name'].nunique()

3050

In [32]:
dropbox_df['folder'].unique()

array(['2018 July-August', '2018 November', '2018 November_Just Photos',
       '2019 November'], dtype=object)

In [33]:
dropbox_df = dropbox_df[dropbox_df['folder'] != '2018 November_Just Photos']

In [34]:
dropbox_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2904 entries, 0 to 3049
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   folder     2904 non-null   object
 1   file_name  2904 non-null   object
dtypes: object(2)
memory usage: 68.1+ KB

In [35]:
dropbox_df.to_csv('dropbox_file_list.tsv', sep='\t', index=False)

In [36]:
fish_image_metadata = pd.read_csv('fish_image_metadata_combined.csv')
fish_image_metadata.head()

,file_name,genus,species,data_source,country,specimen_id
0,DSC_0001-CV1-TRAMPA.JPG,Hoplias,malabaricus,field,Peru,CV1-298
1,DSC_0001-CV2-TRAMPA.JPG,Hoplias,malabaricus,field,Peru,CV2-491
2,DSC_0001-KANT1.JPG,Erythrinus,erythrinus,field,Peru,CV2-299
3,DSC_0002-CV2-TRAMPA.JPG,Leporinus,friderici,field,Peru,CV2-492
4,DSC_0002-KANT1.JPG,Laetacara,flavilabris,field,Peru,CV2-300

In [37]:
fish_image_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   file_name    1995 non-null   object
 1   genus        1991 non-null   object
 2   species      1989 non-null   object
 3   data_source  1995 non-null   object
 4   country      1995 non-null   object
 5   specimen_id  1995 non-null   object
dtypes: object(6)
memory usage: 93.6+ KB

In [38]:
fish_image_metadata['file_name'].nunique()

1958

In [39]:
fish_image_metadata = fish_image_metadata.drop_duplicates()

In [40]:
fish_image_metadata[fish_image_metadata['file_name'].duplicated(keep=False)].sort_values('file_name')

,file_name,genus,species,data_source,country,specimen_id
1559,DSC_0800.JPG,Hoplias,malabaricus,field,Peru,KACV2-05
1563,DSC_0800.JPG,Steindachnerina,guentheri,field,Peru,KACV2-07
1560,DSC_0801.JPG,Hoplias,malabaricus,field,Peru,KACV2-05
1564,DSC_0801.JPG,Steindachnerina,guentheri,field,Peru,KACV2-07
1561,DSC_0802.JPG,Hoplias,malabaricus,field,Peru,KACV2-06
1565,DSC_0802.JPG,Steindachnerina,guentheri,field,Peru,KACV2-07
1562,DSC_0803.JPG,Hoplias,malabaricus,field,Peru,KACV2-06
1566,DSC_0803.JPG,Steindachnerina,guentheri,field,Peru,KACV2-07
1589,DSC_1313.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-19
1593,DSC_1313.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-20
1590,DSC_1314.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-19
1594,DSC_1314.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-20
1591,DSC_1315.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-19
1595,DSC_1315.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-20
1592,DSC_1316.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-19
1596,DSC_1316.JPG,Pterygoplichthys,sp. 1,field,Peru,KACV2-20

In [41]:
fish_image_metadata = fish_image_metadata.drop_duplicates(subset='file_name')
fish_image_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1958 entries, 0 to 1994
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   file_name    1958 non-null   object
 1   genus        1954 non-null   object
 2   species      1952 non-null   object
 3   data_source  1958 non-null   object
 4   country      1958 non-null   object
 5   specimen_id  1958 non-null   object
dtypes: object(6)
memory usage: 107.1+ KB

In [42]:
fish_image_metadata_found = dropbox_df.merge(fish_image_metadata, on='file_name')
fish_image_metadata_found.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1424 entries, 0 to 1423
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   folder       1424 non-null   object
 1   file_name    1424 non-null   object
 2   genus        1420 non-null   object
 3   species      1418 non-null   object
 4   data_source  1424 non-null   object
 5   country      1424 non-null   object
 6   specimen_id  1424 non-null   object
dtypes: object(7)
memory usage: 89.0+ KB

In [43]:
fish_image_metadata_found['folder'].unique()

array(['2018 November', '2019 November'], dtype=object)

In [44]:
fish_image_metadata_found = fish_image_metadata_found[pd.notnull(fish_image_metadata_found['species'])]
fish_image_metadata_found.to_csv('dropbox_photos_fish_metadata.tsv', sep='\t', index=False)