In [1]:
from pathlib import Path

In [2]:
photos_dir = Path('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox')

In [3]:
photo_list = list(photos_dir.glob('*/*.JPG'))
len(photo_list)

1586

In [4]:
photo_list[-5:]

[PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1318.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1317.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1316.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1319.JPG'),
 PosixPath('/pool/genomics/triznam/amazon_fish_2021_dec/photos_from_dropbox/2019 November/DSC_1320.JPG')]

In [5]:
import pandas as pd

In [10]:
dropbox_list = []
for photo in photo_list:
    dropbox_list.append({'folder':photo.parent.name,
                         'file_name':photo.name})
dropbox_df = pd.DataFrame(dropbox_list)
dropbox_df.head()

          folder                file_name
0  2018 November  DSC_0001-CV1-TRAMPA.JPG
1  2018 November  DSC_0002-CV2-TRAMPA.JPG
2  2018 November       DSC_0002-KANT1.JPG
3  2018 November  DSC_0003-CV2-TRAMPA.JPG
4  2018 November  DSC_0005-CV2-TRAMPA.JPG

In [13]:
dropbox_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586 entries, 0 to 1585
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   folder     1586 non-null   object
 1   file_name  1586 non-null   object
dtypes: object(2)
memory usage: 24.9+ KB

In [16]:
dropbox_df['file_name'].nunique()

1586

In [17]:
dropbox_df.to_csv('dropbox_file_list.tsv', sep='\t', index=False)

In [12]:
fish_image_metadata = pd.read_csv('fish_image_metadata_combined.csv')
fish_image_metadata.head()

,file_name,genus,species,data_source,country,specimen_id
0,DSC_0001-CV1-TRAMPA.JPG,Hoplias,malabaricus,field,Peru,CV1-298
1,DSC_0001-CV2-TRAMPA.JPG,Hoplias,malabaricus,field,Peru,CV2-491
2,DSC_0001-KANT1.JPG,Erythrinus,erythrinus,field,Peru,CV2-299
3,DSC_0002-CV2-TRAMPA.JPG,Leporinus,friderici,field,Peru,CV2-492
4,DSC_0002-KANT1.JPG,Laetacara,flavilabris,field,Peru,CV2-300

In [14]:
fish_image_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   file_name    1995 non-null   object
 1   genus        1991 non-null   object
 2   species      1989 non-null   object
 3   data_source  1995 non-null   object
 4   country      1995 non-null   object
 5   specimen_id  1995 non-null   object
dtypes: object(6)
memory usage: 93.6+ KB

In [15]:
fish_image_metadata_found = dropbox_df.merge(fish_image_metadata, on='file_name')
fish_image_metadata_found.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1450
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   folder       1451 non-null   object
 1   file_name    1451 non-null   object
 2   genus        1447 non-null   object
 3   species      1445 non-null   object
 4   data_source  1451 non-null   object
 5   country      1451 non-null   object
 6   specimen_id  1451 non-null   object
dtypes: object(7)
memory usage: 90.7+ KB

In [19]:
fish_image_metadata_found = fish_image_metadata_found[pd.notnull(fish_image_metadata_found['species'])]
fish_image_metadata_found.to_csv('dropbox_photos_fish_metadata.tsv', sep='\t', index=False)