In [1]:
import pandas as pd

In [13]:
images_df = pd.read_csv('original_data/Fish_label_list.csv')
images_df['Image_name'] = images_df['Image_name'].str.replace('jpg','JPG')
images_df.head()

       Genus          Image_name
0  Ancistrus   DSCN0083-HERM.JPG
1  Ancistrus   DSCN0084-HERM.JPG
2  Ancistrus   DSCN0088-HERM.JPG
3  Ancistrus   DSCN0089-HERM.JPG
4  Ancistrus  DSCN0248-KNTSH.JPG

In [14]:
image_list = images_df['Image_name'].tolist()
image_list[:5]

['DSCN0083-HERM.JPG',
 'DSCN0084-HERM.JPG',
 'DSCN0088-HERM.JPG',
 'DSCN0089-HERM.JPG',
 'DSCN0248-KNTSH.JPG']

In [15]:
combined_metadata = pd.read_csv('fish_image_metadata_combined.csv')
combined_metadata.head()

,file_name,genus,species,data_source,country,specimen_id
0,DSC_0001-CV1-TRAMPA.JPG,Hoplias,malabaricus,field,Peru,CV1-298
1,DSC_0001-CV2-TRAMPA.JPG,Hoplias,malabaricus,field,Peru,CV2-491
2,DSC_0001-KANT1.JPG,Erythrinus,erythrinus,field,Peru,CV2-299
3,DSC_0002-CV2-TRAMPA.JPG,Leporinus,friderici,field,Peru,CV2-492
4,DSC_0002-KANT1.JPG,Laetacara,flavilabris,field,Peru,CV2-300

In [16]:
metadata_list = combined_metadata['file_name'].to_list()
len(metadata_list)

1995

In [17]:
not_in_image_list = images_df[~images_df['Image_name'].isin(metadata_list)]
not_in_image_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1627 entries, 0 to 3059
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Genus       1627 non-null   object
 1   Image_name  1627 non-null   object
dtypes: object(2)
memory usage: 38.1+ KB

In [18]:
not_in_image_list.head()

       Genus          Image_name
0  Ancistrus   DSCN0083-HERM.JPG
1  Ancistrus   DSCN0084-HERM.JPG
2  Ancistrus   DSCN0088-HERM.JPG
3  Ancistrus   DSCN0089-HERM.JPG
4  Ancistrus  DSCN0248-KNTSH.JPG